.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
README.md export-ignore
phpcs.xml export-ignore
phpstan.neon.dist export-ignore
tests/ export-ignore
tsconfig.json export-ignore
webpack.config.js export-ignore
node_modules/ export-ignore
tests/ export-ignore
vendor/ export-ignore
src/admin export-ignore
src/block-extensions/ export-ignore
src/block-styles/ export-ignore
src/block-supports/ export-ignore
src/block-variations/ export-ignore
src/components/ export-ignore
src/formats/ export-ignore
src/settings/ export-ignore
src/utility/ export-ignore
src/editor.tsx export-ignore
assets/js/blocks/ export-ignore
assets/js/editor.js export-ignore
assets/js/editor.asset.php export-ignore
assets/js/patterns.js export-ignore
assets/js/patterns.asset.php export-ignore
assets/scss/abstracts/ export-ignore
includes/plugin/ export-ignore
parts/ export-ignore
patterns/ export-ignore
styles/ export-ignore
templates/ export-ignore
.wordpress-org/ export-ignore
*.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
wp-content/ export-ignore
LICENSE export-ignore
composer.json export-ignore
readme.txt export-ignore
languages/ export-ignore
README.md export-ignore
